@font-face {
    font-family: hvl;
    src: url(./havelock.otf);
}

@font-face {
    font-family: atl;
    src: url(./attila.ttf);
}

@font-face {
    font-family: dnc;
    src: url(./DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: rog;
    src: url(./RougeScript-Regular.ttf);
}

@font-face {
    font-family: jst;
    src: url(./Jost-Italic-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100vw;
    /* height: 500vh; */
    position: relative;
    background-color: #f6f6f6;
    overflow-x: hidden;
    will-change: transform;
    backface-visibility: hidden;

}

#page1 {
    width: 100vw;
    height: 92vh;
    position: relative;
    background-color: transparent;


    /* background-color: red; */
}

#nav {
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    font-family: montserrat;

}

#nav h4 {
    font-weight: 500;
}


#ntxt {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 3.8vw;
    /* background-color: red; */
    display: inline-block;
    position: absolute;
    left: 24%;
    top: 32%;
}

#ntxt h1 {
    font-weight: 400;
    letter-spacing: -10px;
    color: #3C3C3C;
}

#ntxt2 {
    font-family: dnc;

    font-size: 5vw;
    /* background-color: red; */
    display: inline-block;
    position: absolute;
    left: 41%;
    top: 46%;
    color: #3C3C3C;

}

#ntxt2 h1 {
    font-weight: 200;
    letter-spacing: 8px;
}

#oc {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #EBE3CF;
    border-radius: 50%;
    left: 14%;
    top: 20%;
    position: absolute;
    background-image: url(./upload-9790834f-513a-4aed-ab75-6be2fd012408.png);
    background-position: center;
    background-size: cover;
    animation-name: gol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;

}

#tc {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #EAEAEA;
    border-radius: 50%;
    left: 84%;
    top: 64%;
    position: absolute;
    background-image: url(./grey\ gol.png);
    background-position: center;
    background-size: cover;
    animation-name: gol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;

}

#thc {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #E5EEE4;
    border-radius: 50%;
    left: 45%;
    top: 77%;
    position: absolute;
    background-image: url(./Picsart_26-03-26_22-03-11-620.png);
    background-position: center;
    background-size: cover;
    animation-name: gol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;

}

@keyframes gol {
    100% {
        rotate: 360deg;
    }
}



#one {
    width: 12vw;
    height: 14vw;
    background-color: bisque;
    position: absolute;
    top: 0%;
    left: 18%;

}

#two {
    width: 22vw;
    height: 24vw;
    background-color: bisque;
    position: absolute;
    top: 24%;
    right: 1%;

}

#three {
    width: 47vw;
    height: 16vw;
    background-color: bisque;
    position: absolute;
    bottom: 0%;
    left: 2%;
}

#one,
#two,
#three {
    position: absolute;
    overflow: hidden;

    --blur-after: 0px;
    --blur-before: 20px;
    --opacity-before: 0;
    --reveal-img: none;
}

#one::after,
#two::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#one::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 69% 0%;
    background-size: cover;
}

#three::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0% 30%;
    background-size: cover;
}


#two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 40% 10%;
    background-size: cover;
}

#three::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0% 97%;
    background-size: cover;
}

#one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0% 5%;
    background-size: cover;
}



#one::after {
    background-image: url(./res1bed/Bedroom\(4\).webp);
    filter: blur(var(--blur-after));
    z-index: 1;
}

#two::after {
    background-image: url(./res1kitch/kitchen\(6\).webp);
    filter: blur(var(--blur-after));
    z-index: 1;
}

#three::after {
    background-image: url(proj.webp);
    filter: blur(var(--blur-after));
    z-index: 1;
}

#one::before,
#two::before,
#three::before {
    background-image: var(--reveal-img);
    opacity: var(--opacity-before);
    filter: blur(var(--blur-before));
    z-index: 2;
}


#page1j {
    width: 100vw;
    height: 92vh;
    background-color: #F5EFE1;
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0%;
}

#page1m {
    width: 100vw;
    height: 92vh;
    background-color: #EBF4EA;
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0%;
}


#poster {
    width: 26vw;
    position: absolute;
    height: 34vw;
    /* background-color: red; */
    z-index: 4;
    margin-top: 30vh;
    margin-left: 41vh;
    background-image: url(./res1kids/kids\ room\ desk\ corner.webp);

    background-position: center;
    background-size: cover;
}


#ocr {
    width: 7.5vw;
    height: 7.5vw;
    /* Wrapper ko wahan rakho jahan se movement SHURU honi hai */
    left: 14%;
    top: 18.4vh;
    position: absolute;
    /* background-color: #840707; */
    background-color: #EBE3CF;
    border-radius: 50%;

    z-index: 1;
    /* Isse upar rakho */
    /* background-color yahan se hata sakte ho agar sirf #ocr mein chahiye */
}




#tcr {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #EAEAEA;
    border-radius: 50%;
    left: 84%;
    top: 64%;
    position: absolute;
    /* background-image: url(./grey\ gol.png); */
    background-position: center;
    background-size: cover;
    animation-name: gol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
    /* transition: background-color 0.1s ease; */

}

#thcr {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #E5EEE4;
    border-radius: 50%;
    left: 45%;
    top: 77%;
    position: absolute;
    /* background-image: url(./gol\ mint.png); */
    background-position: center;
    background-size: cover;
    animation-name: gol;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;

}



#post {
    width: 12vw;
    height: 32vh;
    /* background-color: red; */
    position: absolute;
    margin-top: 80vh;
    margin-left: 25vh;
    z-index: 4;
    background-image: url(./res1livin/living8.webp);
    background-position: 30% 10%;
    background-size: cover;
}

#front {
    width: 100vw;
    height: 500vh;
    background-color: #F5EFE1;
    margin-top: 120vh;
    position: relative;
}


#info p {
    width: 16vw;
    font-size: .8vw;
    margin-left: 5px;
    line-height: 1.5vw;
}

#info {

    display: flex;
    flex-direction: column;
    font-family: montserrat;
    position: absolute;
    margin-top: 32vh;
    margin-left: 117vh;

}

#info h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 4vw;
    letter-spacing: -5px;
    color: #3C3C3C;
    line-height: 3.7vw;

}

#info h1:nth-child(3) {
    margin-top: 4.8vw;
    margin-bottom: 1.5vw;
}

#note {
    width: 13vw;
    height: 6vh;
    /* background-color: rebeccapurple; */
    position: absolute;
    top: 26%;
    left: 56%;
    background-image: url(./int\ image.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#invsbl {
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    position: absolute;
    top: 149%;
    overflow: hidden;
    /* background-color: red; */
}

#capt {
    width: 90%;
    height: 100%;
    /* background-color: rgb(39, 19, 19); */
    right: -70%;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 4;


}

.part #l {
    width: 3.2vw;
    height: 1px;
    background-color: rgb(231, 192, 192);
}

.part {
    display: flex;
    align-items: center;
    gap: 5px;
    font-style: italic;
    color: #CAB193;
    font-size: 4.3vw;
    font-family: rog;
}

.part h2 {
    font-weight: 500;
}

#gola {
    width: 29.25vw;
    height: 29.25vw;
    background-color: #EBE3CF;
    top: 198vh;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: 10;

}

#cv {
    width: 10vw;
    height: 20vw;
    background-color: transparent;
    /* margin-top: 50vh; */
}

#sym {
    width: 230vw;
    height: 8vw;
    position: absolute;
    top: 0%;
    left: -1%;
    background-color: transparent;
    border: 2px solid #CAB193;
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 11;
}

/* #sym1{
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 30%;
    background-color: red;
} */
#log {
    width: 7.3vw;
    height: 3.3vw;
    border-radius: 50%;
    background-color: rgb(244, 169, 169);
   


}

.slide:nth-child(2n+1) #log {
    background-image: url(./boxroom\ \(2\)\ reimagined.webp);
    background-position: center;
    background-size: cover;

}

.slide:nth-child(2n) #log {
    background-image: url(./res1livin/living8.webp);
    background-position: center;
    background-size: cover;

}

.slide {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slide h1 {
    font-style: italic;
    font-size: 4vw;
    font-weight: 300;
    color: #CAB193;
    white-space: nowrap;
}

.frame {
    width: 27.5vw;
    height: 29.4vw;
    background-color: transparent;

    position: absolute;
    left: 50%;
    top: 9%;
    z-index: 12;

}

.im {
    width: 100%;
    height: 80%;
    background-color: transparent;
    background-image: url(./res1bed/Bedroom\(4\).webp);
    background-position: center;
    background-size: cover;
}

.det {
    width: 100%;
    height: 10%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
    color: #3C3C3C;
}

.det2 {
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.det h2 {
    font-family: montserrat;
    font-size: .8vw;
    font-weight: 500;
    margin-left: 3px;


}

.det h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7vw;
}

.det2 h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7vw;
    color: #3C3C3C;

}

.frame2 {
    width: 39.8vw;
    height: 25vw;
    background-color: transparent;

    position: absolute;
    left: 10%;
    top: 22%;
    z-index: 12;

}

.im2 {
    width: 100%;
    height: 80%;
    background-image: url(./59940\ reimagined.webp);
    background-position: center;
    background-size: cover;
}

/* yoyoyoyoyy */





.frame3 {
    width: 39.8vw;
    height: 33.5vw;
    background-color: transparent;

    position: absolute;
    left: 35.7%;
    top: 35%;
    z-index: 12;

}

.im3 {
    width: 100%;
    height: 80%;

    background-image: url(./res1kitch/kitchen\(4\).webp);
    background-position: 2% 0%;
    background-size: cover;
}

.frame4 {
    width: 26vw;
    height: 38vw;
    background-color: transparent;

    position: absolute;
    left: 9.5%;
    top: 47%;
    z-index: 12;

}

.im4 {
    width: 100%;
    height: 90%;

    background-image: url(./boxroom/boxroom\ \(2\)\ reimagined\ \(1\).webp);
    background-position: 2% 0%;
    background-size: cover;
}

.det3 {
    width: 100%;
    height: 9%;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
    color: #3C3C3C;
}

.det4 {
    width: 100%;
    height: 1%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.det3 h2 {
    font-family: montserrat;
    font-size: .8vw;
    font-weight: 500;
    margin-left: 3px;


}

.det3 h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7vw;
}

.det4 h3 {
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .7vw;
    color: #3C3C3C;

}


.frame5 {
    width: 28vw;
    height: 25vw;
    background-color: transparent;

    position: absolute;
    left: 63%;
    top: 57%;
    z-index: 12;

}

.im5 {
    width: 100%;
    height: 80%;

    background-image: url(./parlour.jpg\ imagined.webp);
    background-position: 2% 0%;
    background-size: cover;
}


#p h1 {
    font-family: jst;
    font-size: 10vw;
    font-weight: 400;
    color: #3c3c3c2a;
    position: absolute;
    top: 68.05vh;
    left: 10vw;
    z-index: 11;

}

#roj h1 {
    font-family: jst;
    font-size: 9.5vw;
    font-weight: 400;
    color: #3c3c3c2a;

    letter-spacing: -5px;
    position: absolute;
    top: 70vh;
    left: 30vw;
    z-index: 11;
    opacity: 1;

}

#ect h1 {
    font-family: jst;
    font-size: 9.5vw;
    font-weight: 400;
    color: #3c3c3c2a;

    letter-spacing: -4px;
    position: absolute;
    top: 92vh;
    left: 50vw;
    z-index: 11;



}

#s h1 {
    font-family: jst;
    font-size: 10.1vw;
    font-weight: 400;
    color: #3c3c3c2a;

    position: absolute;
    top: 69vh;
    right: 10vw;
    z-index: 11;

}


#view {
    width: 15vw;
    height: 15vw;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 0.5vw;
    font-family: hvl;
    position: absolute;
    top: 384vh;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -1;
    opacity: 0;
    cursor: pointer;
}

/* CSS */
.leaf-exact {
    width: 12vw;
    /* Image ki original width */
    position: absolute;
    top: 603vh;
    left: 37.3%;
    rotate: -10deg;
    /* transform: translate(-50%,0%); */
    height: 12vw;
    /* Image ki original height */

    /* 1. Yahan woh exact color dalo jo tujhe chahiye */
    background-color: #B8C7B3;

    /* 2. Leaf ki PNG ko mask ki tarah use karo */
    -webkit-mask-image: url(./phool.png);
    /* Apni leaf image ka path dalo */
    mask-image: url(./phool.png);

    /* 3. Mask settings (jaise background settings hote hain) */
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    opacity: 1;
}

.leaf-exact2 {
    width: 10vw;
    /* Image ki original width */
    position: absolute;
    top: 593vh;
    left: 51%;
    rotate: -17deg;
    /* transform: translate(-50%,0%); */
    height: 10vw;
    /* Image ki original height */

    /* 1. Yahan woh exact color dalo jo tujhe chahiye */
    background-color: #B8C7B3;

    /* 2. Leaf ki PNG ko mask ki tarah use karo */
    -webkit-mask-image: url(./phool\ 2.png);
    /* Apni leaf image ka path dalo */
    mask-image: url(./phool\ 2.png);

    /* 3. Mask settings (jaise background settings hote hain) */
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    opacity: 1;

}


#leaft {
    width: 70vw;
    height: 10vh;
    /* background-color: red; */
    position: absolute;
    top: 605vh;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: hvl;
    font-size: 0.75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3c3c3cb9;
    letter-spacing: -1px;
    opacity: 1;
}

#leaft1 {
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#leaft2 {
    margin-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#leaft1 h4 {
    font-weight: 300;
}

#projects {
    position: absolute;
    top: 357.5vh;
    font-family: jst;
    font-size: 5.1vw;
    text-transform: uppercase;
    left: -22%;
}

#projects h1 {
    font-weight: 400;
    /* -webkit-text-stroke: 1px #B8C7B3; */
    color: #EBF4EA;
    /* paint-order: stroke fill; */
    text-shadow:
        -1px -1px 0 #B8C7B3,
        1px -1px 0 #B8C7B3,
        -1px 1px 0 #B8C7B3,
        1px 1px 0 #B8C7B3;
}

#projects2 {
    position: absolute;
    top: 357.5vh;
    font-family: jst;
    font-size: 5.1vw;
    text-transform: uppercase;
    right: -22%;
}

#projects2 h1 {
    font-weight: 400;
    /* -webkit-text-stroke: 1px #B8C7B3; */
    color: #EBF4EA;
    /* paint-order: stroke fill; */
    text-shadow:
        -1px -1px 0 #B8C7B3,
        1px -1px 0 #B8C7B3,
        -1px 1px 0 #B8C7B3,
        1px 1px 0 #B8C7B3;
}


#gola {
    width: 29.25vw;
    height: 29.25vw;
    background-color: #7f5c05;
    top: 198vh;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
    z-index: 10;

}

#x {

    /* background-color: rgb(224, 184, 184); */
    position: absolute;
    font-family: montserrat;
    top: 670vh;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;



}

#x h1 {
    font-size: 7vw;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -6.5px;
    color: #3C3C3C;

}


#y {

    /* background-color: rgb(224, 184, 184); */
    position: absolute;
    font-family: jst;
    top: 683vh;
    left: 10%;
    z-index: 2;

    /* transform: translate(-50%,0%); */


}

#y h1 {
    font-size: 6.3vw;
    font-weight: 380;
    white-space: nowrap;
    letter-spacing: -7px;
    color: #3C3C3C;


}

#z {

    /* background-color: rgb(224, 184, 184); */
    position: absolute;
    font-family: montserrat;
    top: 697vh;
    left: 70%;
    transform: translate(-82%, 0%);
    display: flex;
    align-items: center;
    gap: 0px;
    z-index: 2;




}

#z h1 {
    font-size: 6.8vw;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: -7px;
    color: #3C3C3C;
    opacity: 0;


}

#page4 {
    width: 100vw;
    height: 150vh;
    background-color: #3C3C3C;
}

#z i {
    font-size: 6vw;
    color: #3C3C3C;
    rotate: -90deg;
}


#xi {
    width: 12vw;
    height: 20vw;
    /* background-color: red; */
    top: 665vh;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    z-index: 1;
    background-image: url(./res1bath/washroom\(5\).webp);
    background-position: center;
    background-size: cover;
}

#yi {
    width: 18vw;
    height: 24vw;
    /* background-color: rgb(0, 102, 255); */
    top: 690vh;
    left: 13%;

    position: absolute;
    z-index: 1;
    background-image: url(./res1kids/kids\ room\ wardrobe\ corner.webp);
    background-position: center;
    background-size: cover;

}

#zi {
    width: 15vw;
    height: 22vw;
    /* background-color: red; */
    top: 702.5vh;
    left: 75%;
    position: absolute;
    z-index: 1;
    background-image: url(./res1bed/Bedroom\(3\).webp);
    background-position: center;
    background-size: cover;
}

#behance {
    width: 9.5vw;
    height: 9.5vw;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 718vh;
    transform: translate(-50%, 0%);

    background-image: url(./Gemini_Generated_Image_qyyjfdqyyjfdqyyj.png);
    background-position: center;
    background-size: cover;

}


.frame,
.slide,
.part {
    will-change: transform;
}

#cursor {
    width: 1vw;
    height: 1vw;
    background-color: #3C3C3C;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    z-index: 10;
    pointer-events: none;
    transform: translate(-50%, -50%);

}

@media (max-width: 505px) {
    .topmail {
        display: none;
    }

    #one {
        width: 33vw;
        height: 40vw;
        background-color: bisque;
        position: absolute;
        top: 0%;
        left: 37%;

    }

    #two {
        width: 40vw;
        height: 40vw;
        background-color: bisque;
        position: absolute;
        top: 70vw;
        right: 1%;

    }

    #three {
        width: 60vw;
        height: 28vw;
        background-color: bisque;
        position: absolute;
        bottom: 0%;
        left: 2%;
    }
    #note{
        width: 30vw;
        height: 9vh;
        top: 25%;
    }
    #ntxt {
    
    
    font-size: 4.2vw;
    display: inline-block;
    position: absolute;
    left: 11%;
    top: 43%;
}

#ntxt h1 {
    font-weight: 400;
    letter-spacing: 0px;
    color: #3C3C3C;
}
#ntxt2 {
  

   
    /* background-color: red; */
   
    position: absolute;
    left: 11%;
    top: 48%;
    color: #3C3C3C;

}
#tcr{
    width: 17.5vw;
    height: 17.5vw;
    background-color: #EAEAEA;
    border-radius: 50%;
    left: 70%;
    top: 100vw;
}
#tc{
    width: 17.5vw;
    height: 17.5vw;
    background-color: #EAEAEA;
    border-radius: 50%;
    left: 70%;
    top: 100vw;
}
#thcr{
    width: 17.5vw;
    height: 17.5vw;
    background-color: #E5EEE4;;
    border-radius: 50%;
    left: 50%;
    top: 80%;
}
#thc{
    width: 17.5vw;
    height: 17.5vw;
    background-color: #E5EEE4;;
    border-radius: 50%;
    left: 50%;
    top: 80%;
}
#cursor{
    display: none;
}
#oc{
      width: 17.5vw;
    height: 17.5vw;
    left: 30%;
    top: 16%;
}
#ocr {
    width: 17.5vw;
    height: 17.5vw;
    /* Wrapper ko wahan rakho jahan se movement SHURU honi hai */
    left: 30%;
    top: 14.72vh;

}
#poster {
    width: 32vw;
    position: absolute;
    height: 40vw;
    background-color: red;
    z-index: 4;
    margin-top: 18vh;
    margin-left: 6vh;
    background-image: url(./res1kids/kids\ room\ desk\ corner.webp);

    background-position: center;
    background-size: cover;
}
#post {
    width: 23vw;
    height: 22vh;
    /* background-color: red; */
    position: absolute;
    margin-top: 45vh;
    margin-left: 1vh;
    z-index: 4;
    background-image: url(./res1livin/living8.webp);
    background-position: 30% 10%;
    background-size: cover;
}

#info {

    display: flex;
    flex-direction: column;
    font-family: montserrat;
    position: absolute;
    margin-top: 17vh;
    margin-left: 27vh;
    width: 30%;
    z-index: 5;

}

#info h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 6.8vw;
    letter-spacing: -2px;
    color: #3C3C3C;
    line-height: 9vw;
    z-index: 5;

}

#info h1:nth-child(3) {
    margin-top: 4.8vw;
    margin-bottom: 1.5vw;
}

#invsbl {
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    position: absolute;
    top: 130%;
    overflow: hidden;
    
}
#info p {
    width: 50vw;
    font-size: 2.8vw;
    margin-left: 4px;
    line-height: 3vw;
    font-weight: 400;
    z-index: 5;

}
#sym {
    width: 230vw;
    height: 8vw;
    position: absolute;
    top: 0%;
    left: -1%;
    background-color: transparent;
    border: 2px solid #CAB193;
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 11;
    z-index: 5;

}
#front {
    width: 100vw;
    height: 500vh;
    background-color: #F5EFE1;
    
    margin-top: 66vh;
    position: relative;
   

}
.frame {
    width: 45.5vw;
    height: 35.5vw;
    background-color: transparent;

    position: absolute;
    left: 40%;
    top: 3%;
    z-index: 12;

}

.frame2 {
    width: 58.8vw;
    height: 35vw;
    background-color: transparent;

    position: absolute;
    left: 10%;
    top: 12%;
    z-index: 12;

}




.frame3 {
    width: 59.8vw;
    height: 48.5vw;
    background-color: transparent;

    position: absolute;
    left: 35.7%;
    top: 20%;
    z-index: 12;

}



.frame4 {
    width: 44vw;
    height: 57vw;
    background-color: transparent;

    position: absolute;
    left: 9.5%;
    top: 30%;
    z-index: 12;

}







.frame5 {
    width: 55vw;
    height: 45vw;
    background-color: transparent;

    position: absolute;
    left: 43%;
    top: 41%;
    z-index: 12;

}
#p h1 {
    font-family: jst;
    font-size: 14vw;
    font-weight: 400;
    color: #3c3c3c2a;
    position: absolute;
    top: 2vh;
    left: 10vw;
    z-index: 11;

}

#roj h1 {
    font-family: jst;
    font-size: 13.5vw;
    font-weight: 400;
    color: #3c3c3c2a;

    letter-spacing: -5px;
    position: absolute;
    top: 2vh;
    left: 30vw;
    z-index: 11;
    opacity: 1;

}

#ect h1 {
    font-family: jst;
    font-size: 13.5vw;
    font-weight: 400;
    color: #3c3c3c2a;

    letter-spacing: -4px;
    position: absolute;
    top: 2vh;
    left: 50vw;
    z-index: 11;



}

#s h1 {
    font-family: jst;
    font-size: 14.1vw;
    font-weight: 390;
    color: #3c3c3c2a;

    position: absolute;
    top: 2vh;
    right: 10vw;
    z-index: 11;

}
}